/* line 1, ../../sass/css/normalise.sass */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 6, ../../sass/css/normalise.sass */
body {
  margin: 0;
}

/* line 9, ../../sass/css/normalise.sass */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

/* line 12, ../../sass/css/normalise.sass */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 16, ../../sass/css/normalise.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 20, ../../sass/css/normalise.sass */
[hidden], template {
  display: none;
}

/* line 23, ../../sass/css/normalise.sass */
a {
  background: transparent;
}
/* line 25, ../../sass/css/normalise.sass */
a:active, a:hover {
  outline: 0;
}

/* line 28, ../../sass/css/normalise.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 31, ../../sass/css/normalise.sass */
b, strong {
  font-weight: bold;
}

/* line 34, ../../sass/css/normalise.sass */
dfn {
  font-style: italic;
}

/* line 37, ../../sass/css/normalise.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 41, ../../sass/css/normalise.sass */
mark {
  background: #ff0;
  color: #000;
}

/* line 45, ../../sass/css/normalise.sass */
small {
  font-size: 80%;
}

/* line 48, ../../sass/css/normalise.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 54, ../../sass/css/normalise.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 61, ../../sass/css/normalise.sass */
sub {
  bottom: -0.25em;
}

/* line 64, ../../sass/css/normalise.sass */
img {
  border: 0;
}

/* line 67, ../../sass/css/normalise.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 70, ../../sass/css/normalise.sass */
figure {
  margin: 1em 40px;
}

/* line 73, ../../sass/css/normalise.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 78, ../../sass/css/normalise.sass */
pre {
  overflow: auto;
}

/* line 81, ../../sass/css/normalise.sass */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 85, ../../sass/css/normalise.sass */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 90, ../../sass/css/normalise.sass */
button {
  overflow: visible;
  text-transform: none;
}

/* line 94, ../../sass/css/normalise.sass */
select {
  text-transform: none;
}

/* line 97, ../../sass/css/normalise.sass */
button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 102, ../../sass/css/normalise.sass */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 106, ../../sass/css/normalise.sass */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 109, ../../sass/css/normalise.sass */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 113, ../../sass/css/normalise.sass */
input {
  line-height: normal;
}
/* line 114, ../../sass/css/normalise.sass */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 118, ../../sass/css/normalise.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 122, ../../sass/css/normalise.sass */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/* line 124, ../../sass/css/normalise.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 129, ../../sass/css/normalise.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 132, ../../sass/css/normalise.sass */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 137, ../../sass/css/normalise.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 141, ../../sass/css/normalise.sass */
textarea {
  overflow: auto;
}

/* line 144, ../../sass/css/normalise.sass */
optgroup {
  font-weight: bold;
}

/* line 147, ../../sass/css/normalise.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 151, ../../sass/css/normalise.sass */
td, th {
  padding: 0;
}
