/* This comment is
 * several lines long.
 * since it uses the CSS comment syntax,
 * it will appear in the CSS output. */

@import "compass/css3"
@import "compass/css3/pie"

$color-text: #3b3b3b

html
  height: 100%
.chromeframe
  margin: 0 0 5px
  padding: 5px 0
  background: #ccc
  color: #000
  +border-radius(10px)

body
  width: 100%
  height: 100%
  background-color: #c5c0bd
  font-size: 12px
  font-family: "Open Sans", arial, verdana, sans-serif

a
  outline: none
  color: blue
  text-decoration: underline
  &:hover
    text-decoration: none

p
  margin: 0 0 18px

img
  border: none
  vertical-align: middle

input
  vertical-align: middle


fieldset
  margin: 0
  padding: 0
  border: 0
  border-radius: 2px

textarea
  resize: vertical

#wrapper
  margin: 0 auto
  min-height: 100%
  width: 980px
  height: auto !important
  height: 100%

/* Header */

header
  position: relative
  height: 430px
  background-image: url(../img/bg/header.jpg)
  background-repeat: no-repeat
  background-position: center top
.logo 
  width: 315px
  height: 72px
  position: absolute
  top: 43px
  left: 140px
  img
    width: 315px
    height: 72px
.sdescription 
  width: 270px
  font-size: 10px
  text-align: center
  text-transform: uppercase
  color: #d63a5b
  position: absolute
  display: block
  top: 127px
  left: 140px
.stitle 
  font-size: 10px
  display: block
  color: $color-text
  width: 360px
  text-align: center
  position: absolute
  top: 220px
  left: 110px
.all-girls
  display: block
  width: 289px
  height: 82px
  position: absolute
  top: 240px
  left: 130px
  text-align: center
  background-image: url(../img/bg/all-girls.png)
  background-repeat: no-repeat
  background-position: center
  color: #fff
  text-decoration: none
  font-size: 24px
  line-height: 3.2
  letter-spacing: 3px
  +transition(all 0.3s)
.all-girls:hover
  color: #000
.backhead
  z-index: -50
  width: 100%
  background-position: center
  background-repeat: no-repeat
.bkblock0n
  position: absolute
  top: 0
  height: 165px
/* Top Menu */

.headernav
  margin: 0
  padding: 0
  width: 100%
  height: 42px
  position: absolute
  left: 0
  bottom: 0
  background: #72cde1
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#72cde1), to(#2589ba))
  background: -webkit-linear-gradient(#72cde1, #2589ba)
  background: -moz-linear-gradient(#72cde1, #2589ba)
  background: -ms-linear-gradient(#72cde1, #2589ba)
  background: -o-linear-gradient(#72cde1, #2589ba)
  background: linear-gradient(#72cde1, #2589ba)

.headnav
  float: left
  margin: 0
  padding: 0
  width: 100%
  list-style: none
  text-align: center
  li
    position: relative
    display: inline-block

    a
      display: block
      margin: 0 12px
      font-size: 14px
      padding: 11px 5px
      font-style: italic
      color: #fff
      text-decoration: none
    &:first-child a
      margin-left: 0
    &:last-child a
      margin-right: 0
    a:hover
      color: #000
      text-decoration: underline
/* INTERMEDIATE: IE Fixes */

nav ul li
  display: inline

.oldie nav a
  margin: 0 0.7%

/* Middle */

.content
  padding: 0 0 295px
  background-color: #fff6f0

section 
  width: 710px
  float: left
  padding: 30px 0
  margin: 0 10px
.model-looper
  width: 142px
  display: inline-block
  float: left
  text-align: center
  a
    text-decoration: none
    color: #555555
  h4
    text-align: left
    font-size: 16px
    font-weight: normal
    text-decoration: none
    margin-bottom: 10px
    margin-left: 20px
  img
    width: 100px
    height: 100px
    +border-radius (10px)
    display: block
    border: 4px solid #c5c0bd
    margin: 0 auto
    margin-bottom: 8px
    +transition (all 0.5s) 
  &:hover img 
    border-color: #000
  span

aside
  width: 230px
  float: right
  padding: 25px 10px
.widget
  h6
    font-size: 16px
    text-align: center
    color: #555555
    font-weight: normal
    margin: 0
.wiget-top 
  li
    list-style-type: none
    height: 24px
    background-image: url(../img/bg/ico-skype-a.png)
    background-repeat: no-repeat
    background-position: left center
    line-height: 2
    padding: 0 0 0 30px
    margin: 0 0 5px
    &:nth-child(odd)
      background-image: url(../img/bg/ico-skype-in.png)
/* Footer */

footer
  position: relative
  margin: -295px auto 0
  width: 100%
  height: 295px
  background-image: url(../img/bg/footer.png)
  background-repeat: no-repeat
  background-position: center

  .copy
    color: #fff
    padding: 10px
    font-size: 10px
    margin-bottom: 30px
  .bottom-copy
    padding: 0 30px
    margin-bottom: 50px
  .siteinfo
    width: 250px
    margin: 0 auto
    text-align: center

.mainfooter
  margin: 0 auto
  width: 980px
  position: relative
  height: 100%
  
  .counters
    height: 33px
    width: 200px
    position: absolute
    right: 150px
    bottom: 50px

    span
      display: inline-block
      float: left
      margin: 0 10px 0 0
      border: 1px solid #3b3b3b
      cursor: pointer

/* wordpress default image align */

.aligncenter, div.aligncenter
  display: block
  margin-right: auto
  margin-left: auto

.wp-caption
  margin: 10px
  padding-top: 4px
  border: 1px solid #ddd
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background-color: #f3f3f3
  text-align: center
  -khtml-border-radius: 3px
  img
    margin: 0
    padding: 0
    border: 0 none
  p.wp-caption-text
    margin: 0
    padding: 0 4px 5px
    font-size: 11px
    line-height: 17px

.alignleft
  float: left
  margin-right: 5px

.alignright
  float: right
  margin-left: 5px

/* Helper classes */

.ir
  overflow: hidden
  border: 0
  background-color: transparent
  //text-indent: -9999px
  &:before
    display: block
    width: 0
    height: 100%
    content: ""

.hidden
  display: none !important
  visibility: hidden

.visuallyhidden
  position: absolute
  overflow: hidden
  clip: rect(0 0 0 0)
  margin: -1px
  padding: 0
  width: 1px
  height: 1px
  border: 0
  &.focusable
    &:active, &:focus
      position: static
      overflow: visible
      clip: auto
      margin: 0
      width: auto
      height: auto

.invisible
  visibility: hidden

.clearfix
  &:before
    display: table
    content: " "
  &:after
    display: table
    content: " "
    clear: both
.clear
  clear: both

/* Print styles */

@media print
  background-color: transparent !important
  box-shadow: none !important
  color: #000 !important
  text-shadow: none !important
  a
    text-decoration: underline
    &:visited
      text-decoration: underline
    &[href]:after
      content: " (" attr(href) ")"
  abbr[title]:after
    content: " (" attr(title) ")"
  .ir a:after
    content: ""
  a
    &[href^="javascript:"]:after, &[href^="#"]:after
      content: ""
  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid
  thead
    display: table-header-group
  tr
    page-break-inside: avoid
  img
    page-break-inside: avoid
    max-width: 100% !important
  p, h2, h3
    orphans: 3
    widows: 3
  h2, h3
    page-break-after: avoid